<!DOCTYPE html>

<html>
	<body>
		<form action="/search" method="post">
			<input placeholder="Search for a book..." id="query" name="query">
			<input type="submit" value="Search">
		</form>
		{% if book %}
			<h1>{{book["name"]}}</h1>
			{% if avg_rating %}
				<h2>{{ avg_rating }}/5 *</h2>
			{% endif %}
			<h3>Written by {{book["author"]}}, {{book["year"]}}</h3>
			{% if genres %}
				{% for genre in genres %}
					<div>{{genre["genre"]}}</div>
					<div><a href="/edit_genre/{{genre['genre_id']}}">Edit genre</a></div>
					<div><a href="/delete_genre/{{genre['genre_id']}}">Delete genre</a></div>
				{% endfor %}
			{% endif %}
			<a href="/create_genre/{{book['book_id']}}">Add a genre here!</a><br><br>
			<a href="http://{{book['url']}}" target=_blank>Buy it here for {{book["price"]}}!</a><br><br>
			<div><a href="/edit_book/{{book['book_id']}}">Edit book</a></div>
			<div><a href="/delete_book/{{book['book_id']}}">Delete book</a></div>
			<a href="/create_review/{{book['book_id']}}">Add a review here!</a>
			{% if reviews %}
				<br><br>
				{% for review in reviews %}
					<h4>{{review["title"]}} - {{review["rating"]}}*</h4>
					<div>Written by {{review["reviewer"]}} on {{review["date"]}}</div>
					<details><summary>Review</summary>{{review["description"]}}</details>
					<div><a href="/edit_review/{{review['review_id']}}">Edit review</a></div>
					<div><a href="/delete_review/{{review['review_id']}}">Delete review</a></div>
				{% endfor %}
			{% endif %}
		{% else %}
			<h1>Book not found!</h1>
		{% endif %}
	</body>
</html>