<!DOCTYPE html>
<html>
	<body>
		<h1>Edit Book</h1>
		<form method="post">
			<label>Book Name:</label>
      <input type="text" name="name" placeholder="Enter the book's name" required value={{book["name"]}}><br/>
			<label>Book Price:</label>
      <input type="number" step=".01" name="price" placeholder="Enter the book's price" required value={{book["price"]}}><br/>
			<label>Book Author:</label>
      <input type="text" name="author" placeholder="Enter the book's author" required value={{book["author"]}}><br/>
			<label>Book Year:</label>
      <input type="number" name="year" placeholder="Enter the book's release year" required value={{book["year"]}}><br/>
			<label>URL:</label>
      <input type="text" name="url" placeholder="Enter the url to purchase the book" required value={{book["url"]}}><br/>
			<input type="submit" value="Update book!">
		</form>
	</body>
</html>